#header {
	padding-bottom:20px;
	margin-bottom:20px;
	text-align: center;
	background-color: rgb(0.119.2555);
	color: white;
	height: 500px;
	background-image:url('https://media.newyorker.com/photos/5a8862150095ae7e55570156/master/w_727,c_limit/Mead-Peter-Rabbit.jpg');
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}
.display-2 {
	padding-top:170px;
}